@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  align-items: center;
  background-color: #000;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(1px);
  background-position: 50% 50%;
  overflow: hidden;
}

input {
  display: none;
}

.book {
  display: flex;
}

/* #cover {
  width: 250px;
  height: 400px;
} */

.flip-book {
  width: 370px;
  height: 570px;
  position: relative;
  perspective: 1800px;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
  color: #000;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
}

p {
  font-size: 14px;
  line-height: 24px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 13px;
  box-shadow: inset 20px 0 50px #d99d29;
}
.front h2 {
  margin: 2em 1em;
  border-bottom: 2px solid;
}

.front pre {
  font-size: 15px;
  line-height: 2em;
}
.front.cover {
  background-color: #000;
  background: url("images/KaQ.png");

  background-size: cover;
  box-shadow: 0px 0px 3px 4px black;
}

.front.content ul {
  margin: 0 1em;
  margin-top: 3em;
  line-height: 2.5em;
}

.front.content h2 {
  position: relative;
  font-family: "roborto";
  font-weight: 100;
  top: 5%;
  left: 6%;
  text-decoration: underline double;
  border: none;
}
.front.content li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px dotted;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
pre span {
  font-style: italic;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: inset 20px 0 50px #d99d29;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: inset 20px 0 50px #d99d29;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  flex-direction: column;
}

.back.img1 img {
  height: 150px;
  width: 150px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.back.img2 img {
  height: 170px;
  width: 150px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.back.img3 img {
  height: 250px;
  width: 200px;
  align-self: flex-end;
  margin-bottom: 20px;
}
.back.img4 img {
  height: 100%;
  width: 100%;
  align-self: flex-end;

  /* filter: drop-shadow(2px 10px 0.75rem grey); */
}
.back.img4 {
  height: 102%;
}
.back.cover p {
  padding: 0 20px;
  font-size: 15px;
  text-align: center;
  font-family: roborto;
}
.back.cover span {
  padding-right: 20px;
  align-self: flex-end;
}
/* .next-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  color: #000;
  background-color: #d99d29;
} */

.right-btn,
.next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 13px;
  right: 1px;
  cursor: pointer;
  color: #000;
  height: 100px;
  width: 100px;
  -webkit-tap-highlight-color: transparent;
}

.left-btn,
.back-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 13px;
  left: 1px;
  cursor: pointer;
  color: #000;
  height: 100px;
  width: 100px;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

.back-btn:hover,
.next-btn:hover {
  font-weight: bold;
}
.back.end {
  background-color: #000;
  box-shadow: none;
}

.back.last {
  background: url("images/EA.png");
  background-size: cover;
}

footer {
  position: absolute;
  bottom: 12px;
  left: 50%;
}

#p1 {
  z-index: 30;
}
#p2 {
  z-index: 18;
}
#p3 {
  z-index: 11;
}
#p4 {
  z-index: 8;
}
#p5 {
  z-index: 6;
}
#p6 {
  z-index: 5;
}

#p6 .front pre {
  font-size: 14px;
}
#p7 {
  z-index: 4;
}
#p8 {
  z-index: 3;
}

#p9 {
  z-index: 2;
}

#pend {
  z-index: 1;
  top: 0.5%;
  position: relative;
  width: 102%;
  height: 101%;
  box-shadow: 0px 0px 3px 4px black;
}
#pend .front {
  background: url("images/EA4.png");
  background-size: cover;
  box-shadow: none;
  box-shadow: inset -20px 0 50px #d99d29;
}
#pend .front .work {
  text-align: right;
  width: 90%;
}
#pend .front .work h3 {
  text-decoration: underline solid;
}
#pend .front .work p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  gap: 2px;
}
#pend .front .work p a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#pend .front .work p img {
  height: 25px;
  width: 25px;
}

#pend .front .connect {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 90%;
}
#pend .front .connect h3 {
  text-decoration: underline solid;
}
#pend .front .connect .social {
  align-self: flex-end;
  width: 50%;
}
#pend .front .connect .social p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pend .front .connect .social i {
  font-size: 20px;
}
#pend .front .connect .social p a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  height: 102%;
  z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}
#c4:checked ~ .flip-book #p4 {
  transform: rotateY(-180deg);
  z-index: 4;
}
#c5:checked ~ .flip-book #p5 {
  transform: rotateY(-180deg);
  z-index: 5;
}

#c6:checked ~ .flip-book #p6 {
  transform: rotateY(-180deg);
  z-index: 6;
}
#c7:checked ~ .flip-book #p7 {
  transform: rotateY(-180deg);
  z-index: 7;
}
#c8:checked ~ .flip-book #p8 {
  transform: rotateY(-180deg);
  z-index: 8;
}

#c9:checked ~ .flip-book #p9 {
  transform: rotateY(-180deg);
  z-index: 9;
}
#cend:checked ~ .flip-book #pend {
  transform: rotateY(-180deg);
  z-index: 98;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 500px;
  background: linear-gradient(45deg, black, red, black);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    backdrop-filter: blur(1px);
  }

  .flip-book {
    height: 500px;
    width: 320px;
  }

  .book {
    align-self: flex-end;
    margin-right: 20px;
  }

  pre {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    backdrop-filter: blur(1px);
  }

  .flip-book {
    height: 500px;
    width: 320px;
  }

  .book {
    align-self: flex-end;
    margin-right: 20px;
  }

  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-size: 13px !important;
  }

  #p7 pre {
    font-size: 11px !important;
  }
}

.hide {
  display: none;
}
